html {
  text-align: center;
}

li {
  list-style-type: none;
  display: inline-block;
}

li img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

figcaption {
  font-size: 20px;
  font-family: sans-serif;
}
